* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    margin-top: 10px;
    width: 150px;
    height: 100px;

}

.navegacion {
    display:inline-block;
    padding:10px 15px;
    text-align:center;
    color:#fff;
}

.enlace {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
}

.enlace:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-in-out;
}

.enlace:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


.enlace:hover {
    color: rgb(110, 110, 110)
}

.socialMedia {
    height: 25px;
    width: 25px;
}

.footer {
    display:flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: rgb(5, 5, 57);
}

.redes {
    text-align: center;
}

.colorFooter{
    color: white;
    text-align: center;
}

.tituloInformacion {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50%;
}

.informacion {
    text-align: center;
    width: 90%;
    margin-top: 3%;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.imagenIndex{
    height: 70%;
    margin-top: 27%;
}

.informacion2{
    text-align: center;
    width: 90%;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    background-color: rgb(82, 112, 157);
    transform: width 2s, height 2s;
    transition: transform 2s;
}

.card:hover{
    transform: scale(1.1);
}
.card img{
    width: 100%;
    height: 300px;
}

.card h2{
    font-weight: 600;
    color: white;
}

.card p{
    padding: 10px 1rem;
    font-size: 16px;
    font-weight: 300;
} 

.opinion{
    font-size: 1rem;
}

.discografia{
    text-align: center;
    margin-top: 8rem;
}

.discografiaSubtitulo{
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
}

.contenedorDiscografia{
    margin-bottom: 2%;
}

.spotify{
    width: 400px;
    margin-top: 20px;
    margin-left: 80px;
}

.opinionesTini{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10rem;
}

.videoTour{
    text-align: center;
}

.tituloTour{
    margin-top: 10%;
    text-align: center;
}

.subtituloTour{
    text-align: center;
    font-size: 1.5rem;
}

.mapa{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: rgb(82, 112, 157);
}

.graficoMapa{
    height: 300px;
    width: 370px;
    padding-top: 47px;
}

.texto{
    color: white;
    text-align: center;
    margin-top: 10%;
}

.boton{
    margin-top: 5%;
    cursor: pointer;
}

.parrafoContacto{
    margin-top: 13%;
    color: black;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    border-radius: 3px;
    border: solid 1px rgb(82, 112, 157);
    transform: width 2s, height 2s;
    transition: transform 2s;
}

.parrafoContacto:hover{
    transform: scale(1.7);
}

.imagenContacto{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.alinearCheckbox{
    margin-left: 3%;
}


.navbar-style{
    background-color: rgb(5, 5, 57);
}

.opiniones-container{
    margin-top: 10%;
}

.nav-item{
    display: flex;
    justify-content: flex-end;
}

.decoracionInput{
    border-color: rgb(82, 112, 157);
}

@media (min-width: 320px) and (max-width: 480px){
    .parrafoContacto{
        margin-top: 35%;
        margin-left:21%;
        
    }

    .parrafoContacto:hover{
        transform: scale(1);
    }
}  

@media (min-width: 481px) and (max-width: 768px){
    .parrafoContacto{
        margin-top: 29%;
        margin-left: 27%;
    }

    .parrafoContacto:hover{
        transform: scale(1);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .parrafoContacto{
        margin-top: 20%;
        margin-left: 34%;
    }

    .parrafoContacto:hover{
        transform: scale(1);
    }
}