* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.alinearHeader{
    display: flex;
    justify-content: space-between
    
}

.logo {
    margin-top: 10px;
    width: 150px;
    height: 100px;

}

.navegacion {
    display:inline-block;
    padding:10px 15px;
    text-align:center;
    color:#fff;
}

.enlace {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
}

.enlace:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-in-out;
}

.enlace:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.titulo {
    margin-left: 300px;
}


.enlace:hover {
    color: rgb(110, 110, 110)
}

.socialMedia {
    height: 25px;
    width: 25px;
}


.header{
    background-color: rgb(5, 5, 57);
    width: 100%;
}

.footer {
    display:flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: rgb(5, 5, 57);
}

.redes {
    text-align: center;
}

.colorFooter{
    color: white;
    text-align: center;
}

.cajaInfo {
    height: 100%;
    padding-top: 100px ;
}

.tituloInformacion {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50%;
}

.informacion {
    text-align: center;
    width: 90%;
    margin-top: 3%;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.imagenIndex{
    height: 70%;
    margin-top: 27%;
}

.informacion2{
    text-align: center;
    width: 90%;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

 .contenedorCards{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    background-color: rgb(82, 112, 157);
    transform: width 2s, height 2s;
    transition: transform 2s;
}

.card:hover{
    transform: scale(1.1);
}
.card img{
    width: 100%;
    height: 300px;
}


.card h2{
    font-weight: 600;
    color: white;
}

.parrOpinionesCard{
    color: white;
}


.card p{
    padding: 10px 1rem;
    font-size: 16px;
    font-weight: 300;
} 

.opinion{
    font-size: 1rem;
}

.discografia{
    text-align: center;
    margin-top: 15px;
}

.contenedorSpotify{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    margin-top: 15px;
}

.spotify{
    width: 400px;
    margin-top: 20px;
    margin-left: 80px;
}

.opinionesTini{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10rem;
    /* margin-top: 20%; */
}

.contenedorMapas{
    width: 100%;
    max-width: 1200px;
    height: 462px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.videoTour{
    text-align: center;
}

.textoTour{
    margin-top: 30px;
}
.mapa{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: rgb(82, 112, 157);
}

.graficoMapa{
    height: 300px;
    width: 370px;
    padding-top: 50px;
}

.texto{
    color: white;
    text-align: center;
    margin-top: 30px;
}

.boton{
    margin-top: 50px;
    cursor: pointer;
}

.contenedorContacto{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.contactoFormulario{
    display: flex;
    justify-content: center;
    align-items: center;

}

.formularioInput{
    display: block;
    padding: .5rem 2rem;
    border-radius: 5px;
    border: 0;
    outline: solid 2px rgb(82, 112, 157);
    width:100%
}


.formularioInput:focus{
    outline: solid 2px rgb(82, 112, 157);
}

.formularioInput:focus + .formularioTexto{
    transform: translateY(-1.2rem);
    transition: .5s;
    font-size: 13px;
    color: rgb(82, 112, 157);    
}



.parrafoContacto{
    color: black;
    width: 50%;
    margin-left: 360px;
    text-align: center;
    border-radius: 3px;
    border: solid 1px rgb(82, 112, 157);
    margin-top: 50px;
    transform: width 2s, height 2s;
    transition: transform 2s;
}

.parrafoContacto:hover{
    transform: scale(1.7);
}

.imagenContacto{
    margin-top: 30px;
    margin-bottom: 30px;
}

.formularioTexto{
    transition: all .5s;
    position: absolute;
    top: 25px;
    left: 2rem;
    background-color: white;
    color: rgb(82, 112, 157);
}


.formularioCaja{
    position: relative;
    margin-top: 10px;
    padding: 1rem;
    width: 500px;
}



.formularioInput:not(:placeholder-shown) + .formularioTexto{
    background: none;
    transform: translateY(-1.2rem);
}


.botonContacto{
    background-color: rgb(82, 112, 157);
    color: white;
    border-radius: 3px;
    border: solid 1px rgb(5, 5, 57);
    padding: 5px 30px;
    cursor: pointer;
    margin-top: 15px;
}

.navbar-style{
    background-color: rgb(5, 5, 57);
}

.opiniones-container{
    margin-top: 10%;
}

.nav-item{
    display: flex;
    justify-content: flex-end;
}