.parrafoContacto{
    margin-top: 13%;
    color: black;
    width: $ancho - 50;
    margin-left: 25%;
    text-align: $centrado;
    border-radius: 3px;
    border: solid 1px map-get($colores,color9);
    transform: width 2s, height 2s;
    transition: transform 2s;
    &:hover{
        transform: scale(1.7);
    }
}

.imagenContacto{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.alinearCheckbox{
    margin-left: 3%;
}

.decoracionInput{
    border-color: map-get($colores,color9);
}