.enlace {
    text-decoration: none;
    color: white;
    @include display (inline-block);
    @include position (relative);
    &:hover {
        color: rgb(110, 110, 110);
        &:after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
    &:after{
        content: '';
        @include position (absolute);
        @include ancho;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.6s ease-in-out;
    }
}