.footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: $centrado;
    background-color:map-get($colores,color11);
    .colorFooter{
        color: map-get($colores,color2);
        text-align: $centrado;
    }
    .redes {
        text-align: $centrado;
        .navegacion {
            display: map-get($display, display-in-line);
            padding:10px 15px;
            text-align:$centrado;
            color:map-get($colores,color2);
        }
    }
}

.socialMedia {
    height: 25px;
    width: 25px;
}