.tituloInformacion {
    font-family: $tipografia;
    text-align: $centrado;
    margin-top: 50%;
}

.informacion {
    text-align: $centrado;
    width: 90%;
    margin-top: 3%;
    font-size: 1.3rem;
    font-family: $tipografia;
    font-style: $estilo_letra;
}

.imagenIndex{
    height: 70%;
    margin-top: 27%;
}

.informacion2{
    text-align: $centrado;
    width: 90%;
    font-size: 1.3rem;
    font-family: $tipografia;
    font-style: $estilo_letra;
}