

.tituloInformacion {
    font-family: $tipografia;
    text-align: $centrado;
    margin-top: 50%;
}

.informacion {
    text-align: $centrado;
    width: $ancho - 10;
    margin-top: 3%;
    font-size: 1.3rem;
    font-family: $tipografia;
    font-style: $estilo_letra;
}

.imagenIndex{
    margin-top: 27%;
    object-fit: cover;
    margin-bottom: 1%;
}

.informacion2{
    text-align: $centrado;
    width: $ancho - 10;
    font-size: 1.3rem;
    font-family: $tipografia;
    font-style: $estilo_letra;
}