@media (min-width: 320px) and (max-width: 480px){
    .parrafoContacto{
        margin-top: 35%;
        margin-left:21%;
        &:hover{
            transform: $transformacion;
        }
    }

    .imagenIndex{
        width: 100%;
        margin-top: 5%;
    }

    .tituloInformacion{
        margin-top: 36%;
    }

    .tituloTour{
        margin-top: 31%;
    }
}  

@media (min-width: 481px) and (max-width: 768px){
    .parrafoContacto{
        margin-top: 29%;
        margin-left: 27%;
        &:hover{
            transform: $transformacion;
        }
    }
    .tituloTour{
        margin-top: 23%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .parrafoContacto{
        margin-top: 20%;
        margin-left: 34%;
        &:hover{
            transform: $transformacion;
        }
    }
}