@import "reset";
@import "variables";
@import "footer";
@import "enlace";
@import "card";
@import "botones";
@import "header";
@import "home";
@import "opiniones";
@import "tour";
@import "discografia";
@import "contacto";
@import "navegador";
@import "media";
@import "mixins";
